* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
  color: #fff;
}

.container {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  margin-bottom: 40px;
}

.countdown {
  font-size: 100px;
  margin-top: 20px;
  color: rgb(90, 195, 230);
}